<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Im in the AppComponent </h3>
      <hr>
      <app-servers></app-servers>
      <hr>
      <label>Assignment 1</label>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
      <hr>
      <label>Assignment 2</label>
      <app-add-username></app-add-username>
      <hr>
      <label>Assignment 3</label>
      <br>
      <app-add-details></app-add-details>

    </div>
  </div>
</div>
